/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*asterix wildcard selector to overide default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    color: black;
    font-family: 'roboto', Lucida Sans, monospace;
}

h1, h2 {
    font-family: 'roboto', 'Lucida Sans';
    font-size: 30px;
    color: #252525;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3 {
    font-family: 'roboto', 'Lucida Sans';
    font-size: 20px;
}

.hidden-heading {
    display: none;
}

/* Logo */
#logo {
    height: 46px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#text-logo {
    display: none;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    /* spaces out drop down menu items */
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid black
}


/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #000000;
    display: none;
    top: 100%;
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}


/* Main content */

hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}


main {

    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 70px;
}

/* Hero Section styles */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/gallery/stone.jpg")center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(107, 107, 107, 0.7);
    font-size: 130%;
    text-align: center;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    bottom: 150px;
    Padding: 5;

}

#cover-text > h2, #cover-text > h3 {
    color: #ffffff;
}

.text-container {
    width: 90%;
    margin: 20px auto;
}

.text-container h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

.divider-image {
    clip-path: polygon(0 0,100% 8%,100% 92%,0 100%);
    max-height: 30vh;
    margin-top: 20px;
    margin-bottom: 20px;
}




/* gallery section*/
#gallery-photos img {
    width: 100%;
    line-height: 1em;
}

#gallery-photos {
    /*removes default white gap between images*/
    line-height: 2;
}


/* Equipment Section */


#equipment-items {
    background: url('../images/gallery/stone.JPG') no-repeat center/cover;
    display: flex;
    flex-wrap: wrap;
    
}

#equipment-items div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    padding: 25px;
    flex-basis: 200px;
    flex-grow: 1;
    /*creates a grid around the equipment list*/
    border: 2px solid white;

}


/* Contact Us*/

#contact {
padding: 20px;
}


#contact-form {
    color: #ffffff;
    background-color: #000000;
    color: #d9bf8d;
    padding: 30px;
    margin: auto;
}

#contact-form > h2 {
    margin-bottom: 20px;
    color: #d9bf8d;
}

.text-input {
    background: transparent;
    color: #fafafa; 
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;   
    padding: 0 5px;
}

.send-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #252525;
    color: #fafafa;

}


/*google map */

#google-map {

}


/* footer */

.footer {
    background-color: #000000;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;

}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    color: #d9bf8d;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #d9bf8d;
}




/*-----------------------------MEDIA QUERIES--------------------------------*/

/* Media Query: Mobile */
@media screen and (min-width: 320px) {
    #text-logo {
        height: 1200px;
    }

    #image-logo {
        height: 41px
    }

}

/* media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    

    
    
    #gallery-photos {
        column-count: 2;
        column-gap: 2;
    }




}


/* Media Query: Tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: static;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;

    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #text-logo {
        font-size: 200%;
    }

    main {
        /* push main content down to accomadate larger header */
        margin-top: 1px, solid #3a3a3a;
    }

    /*hero */
    #cover-text {
        width: 300px;

    }

    /* Equipment Section */


/*gallery photos */
    #gallery-photos {
        column-count: 3;
        column-gap: 2;
    }
}
/* contact form */

#contact {
    background-position: center;
    position: relative;
}
#contact-form {
    max-width: 600px;
    left: 10%;
    top: 150px;
}
.text-input:hover {
    border-color: #f16c6b;
}
.send-button:hover {
    background-color: #fafafa;
    color: #454b1b;
}
/* Media Query: Large Screens laptops and desktops (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #ffffff
    }
    #equipment {
        display: flex;
        flex-direction: row;
    }

    #equipment > div {
        flex: 1;
    }


/* gallery photos */
#gallery-photos {
    column-count: 4;
    column-gap: 2;
}

}


@media screen and (min-width: 1200px) {    
    /* Reasons section */
    #equipment {
        display: flex;
        flex-direction: row;
    }

    #equipment > div {
        flex: 1;
    }

    #benefits-image {
        order: 0
    }

}


